<div class="main-container mb-3">
  <div class="container gradient">
    <%= form_with url: dolls_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a doll"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="mt-4">
  <%= render "shared/cards"  %>
  </div>
  </div>
  <div class="mb-3" id="mapid" style="width: 70%; height: 700px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
